
body {
  padding: 1em;
  background-color: #cdf;
  color:#333;
  font-family:sans-serif;
  font-size: 16px;
}

header {
  background-color:white;
  color:#248;
  position:relative;
  border-radius: 0.25em;
  height: 2em;
}

header>a {
  display:inline-block;
  position:absolute;
  top: 0.25em;
  left: 0.25em;
  height: 1.5em;
}

header>a>img {
  height:100%;
}

header>span {
  position:absolute;
  top:0.125em;
  display:block;
  width:100%;
  font-size: 1.75em;
  font-weight:bold;
  text-align:center;
}

header>nav {
  position:absolute;
  top:0.25em;
  right:0.25em;
  bottom:0.25em;
}

nav>a, .button {
  margin:0 .25em;
  padding:0.125em 1em;
  display:inline-block;
  font-size: 1em;
  font-variant: small-caps;
  background-color:white;
  color:#248;
  border:1px solid #ccc;
  border-radius:0.25em;
  text-decoration:none;
}

nav>a:hover, .button:hover {
  background-color:#248;
  color:white;
}

 nav>button {
  margin:0 0.25em;
  padding:0.125em 1em;
  font-size:1em;
  font-variant: small-caps;
  background-color:white;
  color:#248;
  border:1px solid #ccc;
  border-radius:0.25em;
}

 nav>button:hover {
  background-color:#248;
  color:white;
}

.error {
  color: #922;
  font-size: 1.2rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.warning {
  color: #992;
}

.center {
  text-align:center;
}

.table-height {
  margin: 0;
  border: 0;
  padding: 0;
}

.scrollable tbody {
  overflow-x: auto;
  overflow-y: scroll;
}

