
body {
  padding: 0.5rem;
  background-color: #cdf;
  color:#333;
  font-family:sans-serif;
  font-size: 16px;
}

details {
  border: 1px solid #cbb;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: white;
  color: #333;
}

summary {
  font-weight: bold;
  font-size: 1.1rem;
}

button, a.button {
    margin: 1rem;
    border: 1px solid #999;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    font-size: 0.8rem;
    font-variant: small-caps;
    text-decoration: none;
    -moz-appearance: button;
    -webkit-appearance: button;
    appearance: button;
}

.pseudo-button {
  font-variant: small-caps;
}

button:disabled, a.button:disabled {
  color: #ccc;
}
button:enabled:hover, a.button:enabled:hover {
  background-color: #ccc;
}

header {
  position:relative;
  height: 2rem;
  border: 1px solid #cbb;
  background-color:white;
  color:#248;
  border-radius: 0.25rem;
}

header>a {
  display:inline-block;
  position:absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: 1.5rem;
}

header>a>img {
  height:100%;
}

header>span {
  position:absolute;
  top:0.4rem;
  display:block;
  width:100%;
  font-size: 1.5rem;
  font-weight:bold;
  text-align:center;
}

header>nav {
  position:absolute;
  top:0.25rem;
  right:0.25rem;
  bottom:0.25rem;
}

nav>a {
  display: inline-block;
  margin: 0 0.25rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.125em 1rem;
  background-color: white;
  color: #248;
  font-size: 1rem;
  font-variant: small-caps;
  text-decoration:none;
}

nav>a:hover, .button:hover {
  background-color:#248;
  color:white;
}

 nav>button {
  margin:0 0.25rem;
  padding:0.125rem 1rem;
  font-size:1rem;
  font-variant: small-caps;
  background-color:white;
  color:#248;
  border:1px solid #ccc;
  border-radius:0.25rem;
}

 nav>button:hover {
  background-color:#248;
  color:white;
}

fieldset hr {
  color: #cbb;
}
.error {
  color: #922;
  font-size: 1.2rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.warning {
  color: #992;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align:center;
}

.instructions {
  border: 1px solid #cbb;
  border-radius: 0.25rem;
  padding: 0.5em;
  background-color: white;
  color: #333;
}

.table-height {
  margin: 0;
  border: 0;
  padding: 0;
}

.scrollable tbody {
  overflow-x: auto;
  overflow-y: scroll;
}

