@font-face{
font-family: Legible;
src: url('/static/fonts/Atkinson-Hyperlegible-Regular-102a.woff2');
}
@font-face{
font-family: Legible-Italic;
src: url('/static/fonts/Atkinson-Hyperlegible-Italic-102a.woff2');
font-style: italic;
}
@font-face{
font-family: Legible-Bold;
src: url('/static/fonts/Atkinson-Hyperlegible-Bold-102a.woff2');
font-weight: bold;}
@font-face{
font-family: Legible-BoldItalic;
src: url('/static/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2');
font-weight: bold;
font-style: italic;
}

@font-face {
  font-family:  fixed-sans;
  src:  url(/static/fonts/Inconsolata.otf);
}

/*
    static/fonts/Atkinson-Hyperlegible-Bold-102.woff
    static/fonts/Atkinson-Hyperlegible-Bold-102a.woff2
    static/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff
    static/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2
    static/fonts/Atkinson-Hyperlegible-Italic-102.woff
    static/fonts/Atkinson-Hyperlegible-Italic-102a.woff2
    static/fonts/Atkinson-Hyperlegible-Regular-102.woff
    static/fonts/Atkinson-Hyperlegible-Regular-102a.woff2
*/
h1 {
  font-family: Legible-Bold, sans-serif;
}

body {
  padding: 0.5rem;
  background-color: #ccf;
  color:#222;
  font-family: Legible, sans-serif;
  font-size: 16px;
}

details {
  border: 1px solid #cbb;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: white;
  color: #333;
}

summary {
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

button, a.button {
    margin: 1rem;
    border: 1px solid #999;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    font-size: 0.8rem;
    font-variant: small-caps;
    text-decoration: none;
    -moz-appearance: button;
    -webkit-appearance: button;
    appearance: button;
}

.pseudo-button {
  font-variant: small-caps;
}

button:disabled, a.button:disabled {
  color: #ccc;
}

button:enabled:hover, a.button:enabled:hover {
  background-color: #ccc;
}

select {
  cursor: pointer;
}

header {
  position:relative;
  height: 2rem;
  border: 1px solid #cbb;
  background-color:white;
  color:#248;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

header>a {
  flex: 0 0 auto;
  height: 1.5rem;
  z-index: 1;
}

header>a>img {
  height: 100%;
  width: auto;
  display: block;
}

header>span {
  position:absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight:bold;
  text-align:center;
}

header>nav {
  position:absolute;
  top:0.25rem;
  right:0.25rem;
  bottom:0.25rem;
}

nav>a {
  display: inline-block;
  margin: 0 0.25rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.4rem 1rem 0.1rem;
  font-size: 1rem;
  font-variant: small-caps;
  text-decoration:none;
  background-color: white;
  color: #248;
}

nav>button {
  margin:0 0.25rem;
  padding:0.125rem 1rem;
  font-size:1rem;
  font-variant: small-caps;
  background-color:white;
  color:#248;
  border:1px solid #ccc;
  border-radius:0.25rem;
}

header>nav>a:hover, nav>button:enabled:hover {
  background-color:#248;
  color:white;
}

fieldset hr {
  color: #cbb;
}

.error {
  color: #922;
  font-size: 1.1rem;
  font-style: italic;
}

.error-box {
  padding:0 1em;
  background-color:white;
  border:1px solid #992;
  border-radius:0.25em;
}

.warning {
  color: #33f;
}

.missing {
  color: #922;
}

.underline {
  text-decoration: underline;
}

.clickable:hover {
  cursor: pointer;
}

.center {
  text-align:center;
}

.instructions {
  border: 1px solid #cbb;
  border-radius: 0.25rem;
  padding: 0.5em;
  background-color: white;
  color: #333;
}

.table-height {
  margin: 0;
  border: 0;
  padding: 0;
}

.scrollable tbody {
  overflow-x: auto;
  overflow-y: scroll;
}

.institution-option {
  display: inline-block;
  width: 11em;
}

/* Animate the loading/please-wait ellipsis. */
.dot-1 {
    animation: dot 1.5s infinite;
    animation-delay: 0.0s;
}

.dot-2 {
    animation: dot 1.5s infinite;
    animation-delay: 0.1s;
}

.dot-3 {
    animation: dot 1.5s infinite;
    animation-delay: 0.2s;
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

.disclaimer {
  margin: 1em;
  border: 1px solid #600;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color:white;
}

.disclaimer h1 {
  text-align: center;
}

.signature {
  font-style:italic;
  text-decoration: none;
  color:black;
  font-size:1em;
}
.signature:hover {
  color:#09f;
}

.fixed-sans {
  font-family:  fixed-sans;
}
