.inline-discipline {
  display: inline-block;
  width: 20%;}
.inline-college {
  display: inline-block;
  width: 10%;
}
.selected-course {
  background-color: #ccc;
}

table {
  border-collapse: collapse;
}
td, th {
  border:  1px solid #ccc;
  padding: 0.5em;
}