h1 {
  margin-bottom: 0;
  font-size: 1.2em;
}
h2 {
  margin-top:0;
}
section {
  margin: 1em;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em 1em;
}
section.catalog_entry {
  margin: 0.25em 1em 1em 1em;
  border: 0;
}
section > div {
  margin: 0,
  padding: 0 1em;
}
section.catalog_entry > div {
  max-width: 40em;
  text-align: justify;
}
#catalog-help {
  max-width: 45em;
  margin: 0.5em 0;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em;
  font-size: 0.9em;
  font-style: italic;
}
#catalog-help ul {
  margin: 0.5em;
}
.course-info {
  border: 1px solid black;
  border-radius: 0.25em;
  background-color: white;
}
