body {
  font-family: sans-serif;
  border: 1em;
  padding: 1em;
  color:#333;
  background-color: #eff;
  font-size: 0.8em;
  max-width: 40em;
  }

p+ul {
  margin-top: -1em;
}

.error {
  color: #922;
  font-size: 1.5em;
  text-transform: lowercase;
  font-variant: small-caps;
}

button {
    background-color: white;
    font-size: 0.8em;
    padding: 0.5em;
    margin: 1em;
}


fieldset {
    border-radius:0.5em;
}

.institution-select {
  display:inline-block;
  width:18em;
}

.subtitle {
  margin:-0.5em 0 1em 0;
  font-size:0.9em;
  font-style:italic;
}

#pop-up-div { /* is draggable */
  display: none;
  border: 1px solid #333;
  border-radius: 0.25em;
  background-color: #eee;
  color: #111;
  position: fixed !important;
  width:auto;
  height:50vh;
  top: 100px;
  left: 50%;
  margin-left: -15em;
  padding: 0.5em;
  overflow-y: scroll;
}

#pop-up-div th {
  text-align: left;
}

#dismiss-bar {
  width: 100%;
  text-align:right;
  background-color:#999;
  color: #333;
  padding: 0 0.5em;
  font-size: 1.1em;
  cursor:default;
  position: relative;
  top: -0.5em;
  left: -0.5em;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  border-radius: 0.25em 0.25em 0 0;
}

#dismiss-bar:hover {
  background-color:#bbb;
  color: #e00;
}

#show-attributes:hover {
  cursor: pointer;
}

.instructions {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0.25em;
  padding:0.5em;
}