#goforit {
  visibility: hidden;
}
.selections {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.radio-container {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1;
}
.radio-container input {
 display: none;
 }

.radio-container label {
  padding: 0.25em;
  border:  1px solid #ccc;
  border-radius:  0.15em;
  grid-row: 1 / 3;
}
.radio-container  span {
  font-size: 0.8em;
}

.selected-item {
  font-weight: bold;
  background-color: #ccc;
}

table {
  border-collapse: collapse;
}
td, th {
  border:  1px solid #ccc;
  padding: 0.5em;
}