body {
  background-color: #eff;
  padding: 1em;
  font-family:sans-serif;
}

.instructions {
  background-color: #fefefe;
  padding:0.25em 1em;
  margin: 1em 0;
  max-width:40em;
  border-radius:0.25em;
  border: 1px solid #0cc;
}

.hide-show {
  text-align:center;
  padding:0.5em;
}

h2 {
  font-size: 1em;
}

fieldset {
  margin-top: 1em;
  max-width: 60em;
}

fieldset + div {
  margin:1em;
}

fieldset + div + div
{
  margin: 1em 0 0 3em;
}

label {
  text-align: right;
  vertical-align: top;
  padding: 0.25em 0.5em;
  margin:0.1em;
}

input[type="text"] {
  display: inline-block;
  width:10em;
}

#grouping-div {
  margin-top: 0.5em;
}

#course-ids {
  margin: 0.5em;
  width:60em;
}

#course-ids + button {
  font-size: 0.8em;
  padding: 0.25em;
  margin: 0em;
}

button {
  margin: 1em;
  padding: 0.5em;
  font-size: 1em;
  font-family: sans-serif;
  font-variant: small-caps;
  background-color:#fff;
}

a {
  text-decoration: none;
  font-variant: small-caps;
}

#transfers-map-table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ccc;
  padding:0.5em;
  text-align: center;
}

.missing-rule {
  background-color: #faa;
  color: black;
}

.bogus-rule {
  background-color: #aaf;
  color: black;
}

.self-rule {
  background-color: #afa;
  color:red;
}

.blanket-credit {
  background-color:#ff0;
  color:#00c;
}
.inactive-course {
  background-color: #ccc;
  color: black;
}

.error {
  color: #c30;
}

.warning {
  color: #b30;
}

#please-wait {
  color:#d30;
  background-color:#ffe;
  padding:0.5em;
  border-radius:0.25em;
  border: 1px solid #d30;
  font-size: 1.1em
  ;
}

#dismiss-bar {
  width: 100%;
  text-align:right;
  background-color:#999;
  color: #333;
  padding: 0 0.5em;
  font-size: 1.1em;
  cursor:default;
  position: relative;
  top: -0.5em;
  left: -0.5em;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  border-radius: 0.25em 0.25em 0 0;
}

#dismiss-bar:hover {
  background-color:#bbb;
  color: #e00;
}

#pop-up-div {
  border: 1px solid #333;
  border-radius: 0.25em;
  background-color: #eee;
  color: #111;
  max-width: 30em;
  height: 10em;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 0.5em;
}

#pop-up-content {
  height: 9em;
  overflow-y: auto;
}

.catalog-entry {
  margin: 0;
}

.credit-mismatch {
  background-color: #ffa;
  color: black;
}