body {
  font-family: sans-serif;
  border: 1em;
  padding: 1em;
  background-color: #eff;
}
.error {
  color: #922;
  font-size: 1.5em;
  text-transform: lowercase;
  font-variant: small-caps;
}
button {
    background-color: white;
    font-size: 0.8em;
    padding: 0.5em;
    margin: 1em;
}
