html {
  background-color: #ccc;
}
body {
  margin:0.5em;
  padding:0.5em;
  background-color:white;
  color:#666;
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
table {
  margin: 0 2px;
  border-collapse: collapse;
  border: 1px solid #666;
}
td, th {
  border:1px solid #666;
  padding: 0.25em;
}
th {
  background-color:#ccc;
  color:#333;
  font-weight: bold;
  text-align: center;
}
.variant {
  background-color: #fef;
}
/*
They should make table bodies scrollable
thead, tbody {
  display:block;
}
tbody {
  overflow-y:auto;
  height: 500px;
}
*/

div {
  max-width:30em;
  margin:auto;
}

p {
  text-align:center;
}

.instructions {
  max-width:60em;
}

.instructions p {
  text-align:left;
  margin 1em;
}
form>* {
  display:block;
  margin:auto;
}

button, button a {
  color:#333;
  background-color: white;
  font-size: 0.8em;
  padding: 0.5em;
  border:none;
  text-decoration:none;
  -moz-appearance: button;
  -webkit-appearance: button;
  appearance: button;
}

button:hover, .button:hover {
  cursor:pointer;
  color:white;
  background-color: #666;
}

table {
  margin:auto;
}