h1 {
  text-align: center;
}
table {
  margin: 0 auto;
  border: 0;
  padding: 0;
  border-collapse: collapse;
}

td, th {
  border:1px solid #666;
  padding: 0.25em;
}

th {
  background-color:#ccc;
  color:#333;
  font-weight: bold;
  text-align: center;
}
.variant {
  background-color: #fef;
}

form {
  max-width:30em;
  margin:auto;
}

select {
  display:block;
  margin:auto;
  font-size:1.2em;
  font-variant:small-caps;
}

p {
  text-align:center;
}

details {
  background-color: white;
  color: #333;
  border: 1px solid #666;
  border-radius: 0.25em;
  max-width:60em;
  margin: 0 auto 0.5em;
}

details p {
  text-align:left;
  padding-left: 1em;
}
