html {
  background-color:white;
}
body {
  margin:0;
  padding:0.5em;
  background-color:white;
  color:#666;
  font-family: sans-serif;
  overflow-y:auto;
  overflow-x:auto;
}
h1 {
  text-align: center;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}

td, th {
  border:1px solid #666;
  padding: 0.25em;
}

th {
  background-color:#ccc;
  color:#333;
  font-weight: bold;
  text-align: center;
}
.variant {
  background-color: #fef;
}

.scrollable tbody {
  overflow-y: scroll;
  overflow-x: auto;
}
form {
  max-width:30em;
  margin:auto;
}

select {
  display:block;
  margin:auto;
}

div.table-height {
  margin: 0;
  border: 0;
  padding: 0;
}

p {
  text-align:center;
}

details {
  max-width:60em;
  margin:auto;
}

details p {
  text-align:left;
  padding-left: 1em;
}

button, .button {
  color:#333;
  background-color: white;
  font-size: 1em;
  padding: 0.5em;
  text-decoration:none;
  -moz-appearance: button;
  -webkit-appearance: button;
  appearance: button;
}

button:hover, .button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color:green;
}
