body {
  max-width: 60em;
}

#disclaimer {
  margin: 1em;
  border: 1px solid #600;
  border-radius: 0.5em;
  padding: 0.5em;
}
#disclaimer h1 {
  text-align: center;
}
label:first-child {
  width: 11em;
  display: inline-block;
}

details {
  margin-bottom:2em;
}

fieldset {
  margin:1em;
}

form>div {
  margin-top: 1em;
}