body {
  max-width: 60em;
}

label:first-child {
  width: 11em;
  display: inline-block;
}

label.select {
  width: 11em;
  display: inline-block;
  text-align: right;
}

details {
  margin:1.5em;
}

fieldset {
  margin:1em;
}

form>div {
  margin-top: 1em;
}

input:invalid {
  border-color: #cc3366;
}
