h2 {
  font-size: 1rem;
  margin: 0.5rem;
}

details, .instructions {
  max-width: 40rem;
  margin: 1rem 0;
}

#submit-form-1, #submit-form-2 {
  position: fixed;
  top: 3rem;
  right: 0;
}

fieldset {
    border-radius: 0.5em;
}

fieldset fieldset {
  margin-top: 1em;
  background-color: white;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 0.5em;
}

td, th {
  background-color: white;
  color: #333;
  vertical-align: middle;
}

td a {
  display: block;
  text-decoration: none;
}

td a:hover {
  background-color: #ccc;
}

details {

}

.institution-select {
  display: inline-block;
  width: 18rem;
}

#source-college-list, #destination-college-list {
  column-width: 15em;
  column-rule: 1px solid #ccc;
}

#email-text {
  width: 25em;
}

#update-info p {
  line-height: 0.5;
  font-style: Legible-Italic, italic;
  font-size: 0.9em;
}

#subject-table {
  margin: 1rem auto;
}

#subject-table th, #rules-table th {
  background-color: #ccc;
  color: #333;
}

#subject-table tbody {
  border: 1px solid black;
}

#subject-table td:first-child {
  border-left: 1px solid black;
}

#subject-table td:last-child {
  border-right: 1px solid black;
}

#subject-table td:nth-child(3) {
  background-color: #eee;
  color: #600;
  font-style: Legible-Italic, italic;
}

#subject-table label {
  display:block;
}

#f2-shortcuts {
  margin: 0 auto;
}

#f2-shortcuts td {
  text-align: right;
}

.source-subject {
  text-align: right;
  background-color: transparent;
}

.destination-subject {
  text-align: left;
  background-color: transparent;
}

.active-cell, .active-cell * {
  background-color: white;
  color:#333;
  cursor: pointer;
}

.f2-cbox {
  text-align: center;
}

#form-2-sub
tted {
  position: fixed;
  top: 50vh;
  left: 50vw;
  border: 1px solid #dbb;
  border-radius: 0.25em;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-variant: small-caps;
  color: #600;
  background-color: white;
  display: none;
}

#review-form {
  border: 1px solid #999999;
  border-radius: 0.5em;
  font-size: 1em;
  padding: 0.5em;
  padding: 0.5em;
  width: 80vw;
  background-color: #ddd;
  color: #444;
  z-index: 1;
}

#review-form .controls {
  text-align: center;
}

#review-form table {
  margin: 0 auto 0.5em;
}

#source-catalog-div {
  max-height: 30vh;
  width: 45%;
  padding: 0.5em;
  float: left;
  overflow: scroll;
  margin-bottom: 0.5em;
}

#destination-catalog-div {
  max-height: 30vh;
  width: 45%;
  padding: 0.5em;
  float: left;
  overflow: scroll;
  margin-bottom: 0.5em;
}

#review-controls-div {
  width: 50%;
  margin: 0.5em auto 0;
  padding: 0.5em;
  clear: both;
  border-radius: 0.5em;
  background-color: #fff;
  color: #666;
}

#reviews-table td: first-child {
  text-align: center;
}

#review-table div.controls {
  margin: 1em 0 0 0;
  text-align: center;
}

#reviews-table table {
  margin: 0 0 0.5em 0;
}

.eval-rule td {
  font-size: 0.9em;
  padding: 0.1em 0.5em;
}

.eval-rule table, .eval-rule table td {
  margin: 0;
  border: none;
  font-style: Legible-Italic, italic;
}

#dismiss-bar {
  width: 100%;
  text-align: right;
  background-color: #999;
  color: #333;
  padding: 0 0.5em;
  font-size: 1.1em;
  cursor: default;
  position: relative;
  top: -0.5em;
  left: -0.5em;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#dismiss-bar:hover {
  background-color: #bbb;
  color: #e00;
}

#comment-text {
  width: 100%;
}

.ok-cancel {
  display: inline-block;
  width: 15rem;
}

.selection-table-div {
  margin: 0.5rem auto;
  padding: 0;
}

#rules-table {
  border-collapse: collapse;
  margin-left: 1rem;
}


#rules-table td,
#rules-table th {
  border: 1px solid #611;
  padding: 0.5em;
  color: #333;
}

#rules-table td:last-child {
}

#rules-table td:nth-child(3) {
  text-align: center;
  font-weight: Legible-Bold, bold;
}

#rules-table tr.selected-rule td {
  background-color: #bbb;
  color: #eee;
}

.credit-mismatch, .credit-mismatch td {
  background-color: #fcc;
  color: black;
  padding:0.5em;
}

.blanket {
  background-color:yellow;
  foreground:green;
  font-weight: Legible-Bold, bold;
  padding:0.5em;
}
#send-email:enabled {
  border: 2px solid black;
}

.evaluated, .evaluated td {
  background-color: #eee;
  color: #000;
  padding:0.5em;
}

.call-to-action {
  text-align: center;
  font-weight: Legible-Bold, bold;
  font-variant: small-caps;
  background-color:lightgreen;
  padding: 1em;
  border: 1px solid #ccc;
  width:80%;
}

#verification-fieldset {
  width: 30vw;
}

#num-pending{
  margin: 0 auto 0.25rem;
  display: block;
}

.omit-button {
  padding: 0.1em;
  margin: 0;
  font-variant: small-caps;
}

.eval-rule {
  padding: 0.5em 1em;
}

.omitted td  {
  color: #ccc;
  background-color: white;
}

.history-what-type {
  float: left;
  width: 5em;
  border-right: 1px solid #999;
  margin-right: 0.5em;
}
h2 + div {
  margin-left: 2em;
}

.description {
  padding: 0.5em;
  cursor: text;
}

.catalog-entry {
  font-size: 0.8em;
  max-width: 40em;
}
