label {
  display: inline-block;
  width:8em;
}
button {
  disabled:disabled;
}
table {
  margin:auto;
  background-color: white;
  border-collapse: collapse;
  border: 2px solid #ccc;
}

td, th {
  border: 1px solid #ccc;
  padding: 0.25em 0.5em;
}

th:first-child {
  text-align:left;
}

.warning {
  color:#611;
}

.good {
  color:#161;
}