label {
  display: inline-block;
  width:8em;
}
button {
  disabled:disabled;
}
table {
  background-color: white;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

td, th {
  border: 1px solid #ccc;
  padding: 0.25em;
}

.warning {
  color:#611;
}

.good {
  color:#161;
}