h1 {
  font-size:1.4em;
  margin:0;
}

h2 {
  font-size:1.2em;
  margin: 0 auto;
}

p {
  max-width:40em;
}

dl {
  margin: 1em 0;
  padding: 0.5em;
  max-width:40em;
  background-color:white;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

dt {
  font-size:1.1em;
  font-weight:bold;
}

dd {
  margin: 0.5em;
  text-align: justify;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #333;
  color:#eff;
  padding:0.25em;
}
