h1, h2 {
  font-size:1.2rem;
  margin:0;
}

details {
  margin: 1rem auto;
  max-width: 60rem;
}

summary {
  font-size: 1.2rem;
  font-weight: bold;
}

#introduction h2 {
  font-size: 1rem;
  margin-bottom:-1rem;
}

#menu {
  margin: 1rem auto;
  padding: 0.5rem;
  max-width:40rem;
  background-color:white;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

#menu-list dt {
  font-size:1.1rem;
  font-weight:bold;
}

#menu-list dd {
  margin: 0.5rem;
  text-align: justify;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #333;
  color:#eff;
  padding:0.25rem;
}
