body {
  font-family: sans-serif;
  border: 1em;
  padding: 1em;
  background-color: #eff;
}

.error {
  color: #922;
  font-size: 1em;
}

button, .restart {
    border: 1px solid #999;
    border-radius:0.25em;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 0.8em;
    padding: 0.5em;
    margin: 1em;
}

#content-div {
    width:50%;
    background-color:white;
    display:none;
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.25em;
}

fieldset {
    border-radius:0.5em;
}

table, td, th {
    border: 1px solid black;
    padding:0.5em;
    border-collapse:collapse;
}

fieldset fieldset {
  margin-top:1em;
  background-color:white;
}

legend {
  border-radius:0.75em;
  padding:0.5em;
  background-color:white;
}

.institution-select {
  display:inline-block;
  width:18em;
}

td, th {
  background-color: white;
}

#form-2>fieldset {
  background-color:white;
  padding:0.5em;
}
#form-2 th {
  background-color:#999999;
}
.source-subject {
  background-color:#eeffee;
}

.destination-subject {
  background-color:#eeeeff;
}
.f2-cbox {
  text-align: right;
  padding-right:2em;
}

#email-text {
  width:20em;
}

.subtitle {
  margin:-0.5em 0 1em 0;
  font-size:0.9em;
  font-style:italic;
}
