<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel='stylesheet' href='/static/css/base_style.css' />
    {% block sheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      h1 {
        text-align: center;
        font-size: larger;
      }
    </style>
  {% if not omitjs %}{% endif %}
  {% block scripts %}{% endblock %}

  </head>
  <body>
    {{ result }}
    {% block static %}{% endblock %}
  </body>
</html>
