<!doctype html>
<html>
  <head>
    <title>Provost Prototype</title>

    <link rel='stylesheet' href='/static/css/prototype-0.1.css' />

    <meta
      name="google-signin-client_id"
      content="4735595349-oje44rn7t2ohu3881ocpf2u7g6gt61c6.apps.googleusercontent.com">
    <script src="/static/js/login-0.1.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=appStart" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/prototype-0.1.js"></script>
    <script src="/static/js/assessment-0.1.js"></script>

  </head>
  <body>
    <h1>
      <span id="user-img"><img alt="" width="32" src="/favicon.ico"></span>
      Hello, <span id='user-name'>Stranger</span>!
    </h1>
    <div id="login-status-div" class="error">
      <p id='error-msg'>
        It appears that your browser is blocking access to some necessary support code from Google.<br/>
        You will need to whitelist this site for it to work.
      </p>
      <div id="signin-controls"></div>
    </div>
    <p id='need-js'>This app requires JavaScript.</p>
    <div id="content-div">
      <fieldset>
        <legend>Assessment Repository</legend>
      </fieldset>
    </div>
    <div id="not-implemented-popup">
      <p>Not Implemented Yet!</p>
    </div>
  </body>
</html>
