<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel='stylesheet' href='/static/css/base_style.css' />
    {% block sheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

  </head>
  <body>
    {% if not omitjs %}
    <div id="need-js">
      <p class="error">Waiting for JavaScript to initialize &hellip;</p>
    </div>
    {% endif %}
    {{ result }}
  </body>
  {% if not omitjs %}
  <script>document.getElementById('need-js').style.display = 'none';
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  {% block scripts %}{% endblock %}
  {% endif %}
</html>
