<!doctype html>
<html lang="en">
  <head>
    <title>CUNY Course Catalogs</title>

    <link rel='stylesheet' href='/static/css/courses.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/courses.js"></script>

  </head>
  <body>
    <div>
      {{ result }}
    </div>
    <p><button><a href="/">Main Menu</a></button></p>
  </body>
</html>
