<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel='stylesheet' href='/static/css/base_style.css' />
    <link rel='stylesheet' href='/static/css/describe_programs.css' />
    {% block sheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block scripts %}
      <script defer src="/static/js/describe_program.js"></script>
    {% endblock %}
  </head>
  <body>
    {{result}}
  </body>
</html>
