<!doctype html>
<html>
  <head>
    <title>Provost Prototype</title>

    <link rel='stylesheet' href='/static/css/prototype.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/static/js/login.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=appStart" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/prototype.js"></script>

  </head>
  <body>
    <h1>
      <span id="user-img"><img alt="" width="32" src="/favicon.ico"></span>
      Hello, <span id='user-name'>Stranger</span>!
    </h1>
    <div id="login-status-div" class="error">
      <p id="error-msg">
        It appears that your browser is blocking access to some necessary support code from Google.
        <br/>
        You will need to whitelist this site for it to work.
      </p>
      <div id="signin-controls"></div>
    </div>
    <p id="need-js">This app requires JavaScript.</p>
    <div id="content-div">
      <fieldset>
        <legend>Select Application</legend>
        <table>
          <tr>
            <th>Application</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <a href="#" class="not-implemented">Scholarship Report</a>
            </td>
            <td>
              Manage your repository of scholarly activies
            </td>
          </tr>
          <tr>
            <td>
              <a href="/assessment">Assessment Repository</a>
            </td>
            <td>
              Manage your department’s repository of assessment documents
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" class="not-implemented">Feijoada Preparation</a>
            </td>
            <td>
              Prepare traditional Brazilian food for your division
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
    <div id="not-implemented-popup">
      <p>Not Implemented Yet!</p>
    </div>
  </body>
</html>
