<!doctype html>
<html lang="en">
  <head>
    <title>Registered Programs</title>

    <link rel='stylesheet' href='/static/css/registered_programs.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="15">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/registered_programs.js"></script>

  </head>
  <body>
    {{ result }}
  </body>
</html>
