<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% block sheets %}
      <link rel='stylesheet' href='/static/css/base_style.css' />
      <link rel='stylesheet' href='/static/css/search_programs.css' />
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% if not omitjs %}
      {% block scripts %}
        <script defer src="/static/js/search_programs.js">
        </script>
      {% endblock %}
    {% endif %}

  </head>
  <body>
    {% if not omitjs %}
    <div id="need-js">
      <p class="error">Waiting for JavaScript to initialize &hellip;</p>
    </div>
    <script>document.getElementById('need-js').style.display = 'none';
    </script>
    {% endif %}
    {{ result }}
  </body>
</html>
