<!doctype html>
<html>
  <head>
    <title>Provost Prototype</title>

    <link rel='stylesheet' href='/static/css/top-menu.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>CUNY Transfer Application</h1>
    <p>
      There are over a million<sup>&dagger;</sup> rules that tell how courses transfer among CUNY
      colleges. This site lets you see what rules exist (or not), to provide feedback about existing
      rules, and to track the status of the rule review process.
    </p>
    <p>
      The functions are designed so you can select just those colleges, departments, or courses you
      are interested in.
    </p>
    <dl>
      <dt><a href="/map_courses">Map Courses</a></dt>
      <dd>
        Find which colleges a course or set of courses transfers to or from. Results are presented
        in tabular form with cells highlighted to identify possible problems easily.
      </dd>
      <dt><a href="/review_rules">Review Existing Rules</a></dt>
      <dd>
        Look at and optionally comment on the details of existing rules.
      </dd>
      <dt>Review Progress</dt>
      <dd>Review the review process progress. Under development.</dd>
      <dt><a href="/courses">Course Catalogs</a></dt>
      <dd>
        Display a complete list of all the courses currently offered at any CUNY College in standard
        college-bulletin format. But you have to say “Please.”
      </dd>
<!--
      <dt><a href="/lookup">Look Up Rules</a></dt>
      <dd>
        Look up all the existing rules that involve a course or set of courses. You can search for
        rules where the courses are in the sending, receiving, or both parts of rules. You can
        specify sets of catalog numbers, such as all 200-level courses, by using regular
        expressions. There is a link on the page to a mini-tutorial on regular expressions.
      </dd>
      <dt><a href="/regex">Regular Expressions</a></dt>
      <dd>
        This is the regular expression guide that is referenced from the <em>Look Up Rules</em> page.
      </dd>
  -->
      <dt><a href="/pending">Pending Reviews</a></dt>
      <dd>
        This is a maintenance utility that shows reviews that have been submitted but not yet
        confirmed by the submitter. These reviews are purged if not confirmed within two days of
        submission.
      </dd>
    </dl>
    <!-- Messages -->
    {{ result }}
  </body>
</html>
