<!doctype html>
<html>
  <head>
    <title>Provost Prototype</title>

    <link rel='stylesheet' href='/static/css/transfers.css' />
    <style>
      .catalog-entry {
        font-size: 0.8em;
        max-width: 40em;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/transfers.js"></script>

  </head>
  <body>
    <p id="need-js">This app requires JavaScript.</p>
    <div>
      {{ result }}
    </div>
  </body>
</html>
